:root {
    --r: #fff;
    --g: rgb(136, 84, 231);
    --b: rgb(103, 110, 3);
    --c: rgb(240, 171, 171);
    --n:rgb(82, 2, 76);
}

.body {
    margin: 0px auto;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* *{ 
    border: 1px solid red;
    /* } */

/* for phone screen */
@media only screen and (max-width: 600px) {
.navbar{
    height: 10vh;
    /* background-color: rgb(7, 7, 7); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2%;
    max-width: 600px;
    gap: 0;
    /* border: solid;
    border-color: red; */
    
}
.title{
    font-size: 12px;
    color: rgb(82, 2, 76);
}
.navlinks1{
    display: none;
}
.navlinks2{
    display: flex;   
    row-gap:7 ;
    /* border: solid;
    border-color: red;     */
}
.video{
    height: 400px;
    max-width: 100%;
    display: flex;
    margin-top: 7%;
    /* border: solid;
    border-color: red; */
    overflow: hidden;
    position: relative;
}
.video video{
    object-fit: fill;
    /* border: solid;
    border-color: yellow; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
 .video-overlay { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 82, 82); /* Black background color */
    mix-blend-mode: multiply; /* Blend mode to multiply the video with the background color */
} 
.wordsec1{
    /* border: solid;
    border-color: yellow; */
    z-index: 1;
    text-align: center;
}
.wordsec1 h2{
    padding-top: 0%;
    color: rgb(247, 115, 240);
}
.wordsec1 .word1 {
    /* margin: auto; */
    color: white;
    padding: 5%;
    font-size: 1em;
    font-weight: lighter;
}
.cont1{
   display: none;
}
.wordsec{
    width: 100%;
    text-align: center;
    display: flex;
    /* border-color: red;
    border-style: solid;  */
    margin: 3%;
}
.wordsec h2{
    color: var(--n)
}
.wordsec .word {
    /* margin: auto; */
    background-color: rgb(245, 244, 244);
    padding: 5%;
    padding-top: 0%;
    
}
.cont0{
    color: var(--n);
    font-size: 12px;
    padding-left: 3%;
}
.cont2{
    border-color: var(--b);
    border-style: solid; 
    display: flex;
    max-width: 100%;
    max-height: max-content;
}
#person{
    display: none;
}
.banner{
    right: 0;
    width: 25%;
    height:150px;
    background-color: rgb(0, 0, 0);
}
.banner img{
    /* min-width: 300px; */
    width: 100%;
    height:100%;
    object-fit: contain;
}
   
.cont5{
    border-color: var(--b);
    border-style: solid; 
    display: flex;
    max-width: 100%;
    max-height: max-content;
    
}
.cont6{
    /* border-color: var(--b);
    border-style: solid;  */
    display: flex;
    max-width: 100%;
    max-height: max-content;
}
.columnpictures{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
}
#roman{
    display:none;
}
.ortega{
    display:none;
}
.ortega2{
    display: inline-grid;
    row-gap: 5%;
    grid-template-rows: auto auto auto;
    /* border-color: black; */
    /* border-style: solid; */
    justify-content: center;
    width: 100%;
    height: max-content;
    background-color: rgb(221, 199, 199);
    padding:3% 0% 3% 0%;
    top:0;

}
.Doestevsky{
    display: none;
}
.Doestevsky1{
    display: flex;
    justify-content: center;
}
#finale{
    display: none;
}
.footer{
    border-color: var(--b);
    border-style: solid; 
    justify-content: center;
    height: max-content;
    display: flex;
    gap: 8%;
    flex-direction:column ;
    padding-left: 5%;
    
    
}
.contact{
    float: right;
    gap: 10%;
    /* background-color: var(--c); */
}
#Contact{
    color: var(--g);
}

}

  
/* for laptop screen */
@media only screen and (min-width: 600px){

.navlinks2{
    display: none;
}
.video{
    display: none;
}
.navbar{
    height: 15vh;
    background-color: rgb(7, 7, 7);
    position: relative;
    margin-bottom: 0.5%;
    box-sizing: border-box;
    width: 100%;
    
}
.title{
    position: absolute;
    /* color: rgb(255, 255, 255); */
    color:var(--r);
    padding-left: 50px;
    padding-top: 30px;
}
.navlinks1{
    margin-left: 80%;
    padding-top: 5%;    
}
.navlinks1 a {
color: var(--r);
text-decoration: none;
font-size: large;
margin-right: 3%;
}
.content {
    /*border-color: red;
    border-style: solid;*/
    position: relative;
    max-height: max-content;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;   
}
.cont1{
   /* border-color: rgb(17, 0, 255);
    border-style: solid;*/
    position: relative;  
    max-height: max-content;
    max-width: 100%;
    /* overflow: hidden; */
   /* display: flex*/
    /* flex-wrap: wrap;*/
   /* background-color: rgb(19, 8, 8);*/
}
.wordsec{
    /* margin-left: 50%; */
   /* border-color: yellow;
    border-style: solid;*/
    width: 100%;
    /* margin-top:0%; */
    /* position: absolute;
    right: 0;
    top: 0; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-weight: lighter; */
    /* font-size: large; */
    /* word-spacing:0ch; */
    /*margin-left: 3%;*/
    color: rgb(10, 10, 10);
    max-width: 40%;
   /* border-color: rgb(238, 25, 192);
    border-style: solid;*/
    text-align: center;
    display: flex;
         
}
.wordsec h2{
    color: rgb(136, 84, 231);
}
.wordsec .word {
    margin: auto;
    background-color: rgb(245, 244, 244);
    padding: 5%;

}
.cont1banner{
    /*border-color: rgb(10, 10, 10);
    border-style: solid;*/
    width: 100%;
   /* display: flex;*/
    margin-bottom: 3%;
    max-height: max-content;
    display: flex;
    justify-content: center;
    gap: 5%;
    border-color:rgb(240, 171, 171) ;
    border-style:solid ;
    border-top-style: hidden;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 0%;

    
}
.banner{
    /*border-color: rgb(232, 248, 10);
    border-style: solid;*/
    /*position: absolute;*/
    right: 0;
    /*display: flex;*/
    width: 30%;
    height:400px;
    background-color: rgb(0, 0, 0);
}
.banner img{
    /* min-width: 300px; */
    width: 100%;
    height:100%;
    object-fit: contain;

}
.cont1side2{
   /*border-color: rgb(103, 110, 3);*/
    background-color: rgb(208, 214, 128);
    width: 100%;
    display: flex;
    max-height: max-content;
    justify-content: center;
    gap: 5%;
    /* padding: 3em; */
    padding-top: 3%;
    padding-bottom: 3%;
}
#unique {
    height: 350px;
    background-color:rgb(208, 214, 128);
}
#nikki{
    color: var(--g);

}
.cont2{
    border-color: var(--b);
    border-style: solid; 
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 5%;
    
    padding-top: 3%;
    padding-bottom: 3%;
}
#person{
    background-color: #e9cdcd;
    
}
.cont3 {
    /* border-color: rgb(240, 171, 171);  */
    /* border-style: solid;  */
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 3%;
    background-color: rgb(208, 214, 128);
    padding: 3%;
   
}
    
#person:nth-child(3){
    height:330px;
    width: 15%;
}
#person:nth-child(1){
    height:200px;
    width: 20%;
    background-color: rgb(221, 221, 218);
    margin: auto 0 auto 0;
    
}
.cont4{
    border-color:rgb(240, 171, 171) ;
    border-style: solid;
    display: flex;
    margin-top: 3%;
    gap: 5%;
    padding: 2%;
    height: 500px;
    
    

}
.columnpictures{
    /* border-color:rgb(235, 11, 11) ; */
    /* border-style: solid; */
    width: 50%;
    display: flex;
    /* height: 600px; */
    background-color:rgb(124, 131, 23) ;
    
    
}
#interest{
    height: 300px;
    width: 400px;
    margin: auto;
    background-color: rgb(121, 129, 3) ;
}
#hobbies1{
    height: 200px;
    width: 150px;
    background-color: rgb(121, 129, 3) ;
}
#hobbies{
    height: 200px;
    width: 150px;
    margin-top: 50%;
    background-color: rgb(121, 129, 3) ;
}
.cont5{
    /* border-color: var(--b); */
    /* border-style: solid;  */
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 5%;    
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(208, 214, 128);

}
.cont6{
    border-color: var(--b);
    border-style: solid; 
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 5%;    
    padding-top: 3%;
    padding-bottom: 3%;
}
#roman{
    background-color: rgb(208, 214, 128);
}
.cont7{
    /* border-color: var(--b); */
    /* border-style: solid;  */
    /* display: flex;  */
    justify-content: center;
    margin-top: 3%;  
    padding-top: 3%;
    padding-bottom: 3%;
}
.ortega{
    display: inline-grid;
    column-gap: 7%;
    grid-template-columns: auto auto auto;
    /* border-color: black; */
    /* border-style: solid; */
    justify-content: center;
    width: 100%;
    height: max-content;
    background-color: rgb(221, 199, 199);
    padding:3% 0% 3% 0%;
    top:0;
}
.ortega2{
    display: none;
}

.Doestevsky{
    display: inline-grid;
    column-gap: 3%;  
    /* row-gap: 10%; */
    grid-template-columns: auto auto auto;
    height: max-content;
    width: 100%;
    /* border-color: black; */
    /* border-style: solid; */
    justify-content: center;
    padding-top: 3%;
}
.Doestevsky1{display: none;}
#wordsec-un{
    margin: auto;
    padding: 3%;
}
.cont8{
    /* border-color: var(--b); */
    /* border-style: solid;  */
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 5%;    
    padding-top: 3%;
    padding-bottom: 3%;
}

#finale{
    background-color: rgb(221, 199, 199);
}

.footer{
    /* background-color: var(--c); */
    border-color: rgb(102, 105, 63);
    border-style: solid; 
    margin-top: 3%;
    
}
.contact{
    margin-left: 88%;
    display: flex;
    gap: 10%;
    /* background-color: var(--c); */
}
#Contact{
    margin-left: 90%;
    color: var(--g);
}
}

